
#product-overview{
    background:url("freedom.jpeg"); /* specify path of the image inside the url parameter */
    width: 100%;
    height:528px;
    padding:10px;
}

/* Changing color of text and font family */
h1{
    color: white;
    /* font-family: sans-serif; */
    font-family: inherit;
}

.section-title{
    color:#2ddf5c;
    text-align:center;
}
.plan{
    background: #d5ffdc;
    text-align:center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.plans__list{
    width: 80%;
    margin:auto;
    text-align: center;
}
.plan--highlighted{
    background: green;
    color: white;
    box-shadow : 2px 2px 2px 2px grey;
    border-radius: 5px;
}
.plan__annotation{
    background: white;
    color: green;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 5px;
}
.plan__title{
    color:green;
}
.plan__price{
    color: gray;
}
.plan--highlighted .plan__title{
    color: white;
}
.plan--highlighted .plan__price{
    color: rgb(0,0,0.5);
}
.plan__features{
    list-style-type: none;
    margin:0;
    padding:0;
}
.plan__feature{
    margin:6px 0;
}

#key-features{
    background: red;
    padding:4px;
    margin-top:8px;
}
#key-features .section-title{
    color: white;
}
.key-features__list{
 list-style-type: none;
 margin:0;
 padding:0;
 text-align: center;
 vertical-align: middle;
}
.key-feature{
    display:inline-block;
    width:30%;
    vertical-align: top;
}
.key-feature__image{
    background: rgb(228, 142, 142);
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: auto;
    border:2px solid gray;
}
.key-feature__description{
    text-align: center;
    font-weight: bold;
    color:white;
    font-size:20px;

}

